@import 'base';

.sidemenu {
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
  background: $primary-dark;
}

.panel {
  position: absolute;
  width: 40%;
  height: 100%;
  box-shadow: -4px 0 4px 0px rgba(0, 0, 0, .15);
}

#lang-from {
  left: 20%;
}

#lang-to {
  left: 60%;
}

.bar {
  height: 64px;
  line-height: 64px;
  background: $primary-normal;
  color: $primary-light;
  font-weight: bold;
}

.panel .bar {
  font-size: .8em;
}

.code-container {
  position: absolute;
  background: $primary-dark;
  height: 50%;
  width: 100%;
  .code {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: .6em;
  }
}

.desc-container {
  position: absolute;
  top: 50%;
  height: 50%;
  width: 100%;
  .desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    font-size: .6em;
    text-align: left;
    padding: 24px;
  }
}

.index {
  position: absolute;
  top: 64px;
  bottom: 64px;
  text-align: left;
  font-size: .7em;
  list-style: none;
  margin: 0px;
  padding: 28px;
  li {
    margin-top: 8px;
    &.active {
      color: white
    }
  }
}

.button {
  font-size: .75em;
  color: white;
}

#next {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.match.selected {
  background: rgba(0, 255, 0, .5);
}