body {
}

.fullscreen {
  padding-top: .2em;
  &.full {
    height: 100%;
  }
}

.title-divider {
  margin-top: -1.2em;
  margin-bottom: -.2em;
  font-size: 1.5em;
}

.lang {
  display: inline-block;
  margin: 24px;
  .logo {
    width: 168px;
    height: 168px;
    background: no-repeat center;
    background-size: contain;
    visibility: hidden;
  }
  .logo.mono {
    visibility: visible;
  }
  .name {
    margin-top: 16px;
    width: 168px;
  }
  &:hover {
    .logo {
      visibility: visible;
    }
    .logo.mono {
      opacity: 0;
      transition: opacity .5s;
    }
    .name {
      color: white;
      transition: color .5s;
    }
  }
}

.unfocused {
  opacity: .2;
}

.stick-to-bottom.stick, .stick-to-bottom.fake {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.stick-to-bottom.fake {
  visibility: hidden;
}