@import 'base';

.fullscreen {
  padding-top: .2em;
  &.full {
    height: 100%;
  }
}

.title-divider {
  margin-top: -1.2em;
  margin-bottom: -.2em;
  font-size: 1.5em;
}

.lang {
  display: inline-block;
  margin: 24px;
  .logo {
    width: 168px;
    height: 168px;
    background: no-repeat center;
    background-size: contain;
  }
  .logo.mono {
    transition: opacity .5s;
  }
  .name {
    margin-top: 16px;
    width: 168px;
    transition: color .5s;
  }
  &:hover {
    .logo.mono {
      opacity: 0;
    }
    .name {
      color: white;
    }
  }
}

.unfocused {
  opacity: .2;
}

.focused {
  transition: opacity .5s;
}

.stick-to-bottom.stick, .stick-to-bottom.fake {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.stick-to-bottom.fake {
  visibility: hidden;
}

.footer {
  text-shadow: 0 1px 0 black;
  padding: 32px 0 4px 0;
  a {
    color: $primary-dark;
  }
}