doctype html
html
    head
        title=title
        block css
        script(type='text/javascript', src='jquery-3.1.1.min.js')
        block js
        script(type='text/javascript', src='duocoder.js')
    body
        block body
