doctype html
html
    head
        title=title
        link(rel='stylesheet', href='base.css')
        block css
        script(type='text/javascript', src='jquery-3.1.1.min.js')
        script(type='text/javascript', src='duocoder.js')
        block js
    body
        block body
