extends base

block css
    link(rel='stylesheet', href='main.css')

block body
    .fullscreen#top
        h1 #DuoCoder
        .title-divider _
        h3 1| Which one are you familiar with?
        .lang-container#lang-from
        .stick-to-bottom.fake
            h3
                | </br>
                | </br>
                | &nbsp;
            h3 &nbsp;
        .stick-to-bottom.real.focused.unfocused#dots
            h3
                | .</br>
                | .</br>
                | .
            h3 2| Which one do you want to learn?
    lang-container.focused.unfocused#lang-to
    .footer
        h5: a(href='http://jasonpark.me/') jasonpark.me
    form(action='./learn.html', method='get')
        input(type='hidden', name='lang_from')
        input(type='hidden', name='lang_to')
    script.
        main();