extends base

block css
    link(rel='stylesheet', href='main.css')

block body
    .fullscreen
        - var langs = {'java': 'Java', 'python': 'Python', 'cpp': 'C++', 'ecmascript': 'ECMAScript', 'idk': 'Nada.'}
        h1 #DuoCoder
        .title-divider _
        h3 1| Which one are you familiar with?
        .lang-container#lang-from
            - for (var lang in langs) {
            a.lang(href='#dots')
                .logo(style='background-image: url("./images/lang_' + lang + '.png")')
                    .logo.mono(style='background-image: url("./images/lang_' + lang + '_mono.png")')
                .name= langs[lang]
            - }
        .stick-to-bottom.fake
            h3
                | </br>
                | </br>
                | &nbsp;
            h3 &nbsp;
        .stick-to-bottom.real.focused.unfocused#dots
            h3
                | .</br>
                | .</br>
                | .
            h3 2| Which one do you want to learn?
    .lang-container.focused.unfocused#lang-to
        - for (var lang in langs) {
        a.lang(href='./learn.html')
            .logo(style='background-image: url("./images/lang_' + lang + '.png")')
                .logo.mono(style='background-image: url("./images/lang_' + lang + '_mono.png")')
            .name= langs[lang]
        - }
    .footer
        h5: a(href='http://jasonpark.me/') jasonpark.me
    script.
        var $stick_to_bottom_fake = $('.stick-to-bottom.fake');
        var $stick_to_bottom_real = $('.stick-to-bottom.real');
        var $lang_from = $('#lang-from');
        var $fullscreen = $('.fullscreen');
        var onResize = function () {
            var top = $lang_from.offset().top + $lang_from.height();
            var bottom = $stick_to_bottom_fake.offset().top;
            $fullscreen.toggleClass('full', top < bottom);
            $stick_to_bottom_real.toggleClass('stick', top < bottom)
        };
        onResize();
        $(window).resize(onResize);

        $('a[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 500);
                    return false;
                }
            }
        });

        var $unfocused = $('.focused');
        var onScroll = function () {
            $unfocused.toggleClass('unfocused', $(document).scrollTop() <= 168);
        };
        onScroll();
        $(window).scroll(onScroll);
