extends base

block css
    link(rel='stylesheet', href='learn.css')

block js
    script(type='text/javascript', src='ace/ace.js')

block body
    .sidemenu
        .bar #DuoCoder
        ul.index
            li 1| Variables
            li.active 2| Operators
            li 3| Conditionals
            li 4| Loops
            li 5| Functions
            li 6| Classes
            li 7| Built-In
        .bar.button#next Let me try!
    .panel#lang-from
        .code-container
            .bar.title
            .code#code-from
        .desc-container
    .panel#lang-to
        .code-container
            .bar.title
            .code#code-to
        .desc-container
    script.
        DOM.setupLearn();