extends base

block css
    link(rel='stylesheet', href='learn.css')

block js
    script(type='text/javascript', src='ace/ace.js')
    script(type='text/javascript', src='markdown.min.js')
    script(type='text/javascript', src='js.cookie.js')

block body
    .sidemenu
        .bar
            a(href='./') #DuoCoder
        ul#index
        .bar.button#next Let me try!
    .panel#lang-from
        .code-container
            .bar.title
            .code#code-from
        .desc-container
            .desc#comparison
    .panel#lang-to
        .code-container
            .bar.title
            .code#code-to
        .desc-container
            .desc#description
    script.
        learn();