extends base

block css
    link(rel='stylesheet', href='learn.css')

block body
    .sidemenu
        .bar #DuoCoder
        ul.index
            li 1| Variables
            li.active 2| Operators
            li 3| Conditionals
            li 4| Loops
            li 5| Functions
            li 6| Classes
            li 7| Built-In
    .panel#lang-from
        .code-container
            .bar EMCAScript
        .desc-container
    .panel#lang-to
        .code-container
            .bar Python
        .desc-container